/* index html*/
.feature-area {
    background: linear-gradient(135deg, #e8fff4, #d0f1e3);
    
}


/*-------*/

@media (min-width: 1400px) and (max-width: 1600px) {

    .skill-right-site {
        right: -18%;
    }

    .skills-rights-sites {
        right: -18%;
    }

    .about-content {
        left: -100px;
    }

    .video-icon {
        left: -70px;
    }

    .team-list .owl-nav {
        bottom: 70px;
    }

    .skill-left-box {
        left: -91px;
        padding: 35px 10px;
    }

}

/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1399px) {

    .hendrio_menu>ul>li>a {
        margin: 40px 8px;
        font-size: 14px;
    }

    .slider-title h1 {
        font-size: 60px;
        line-height: 70px;
    }

    .header-icon-img {
        margin: 0 15px 0 20px;
    }

    .about-content {
        left: -100px;
    }

    .video-icon {
        left: -70px;
    }

    .section-title h1 {
        font-size: 39px;
    }

    ul.sidebar-menu2 li {
        font-size: 13px;
    }

    img.sidbr-icn {
        padding-right: 12px;
    }

    .products-title h6 {
        font-size: 13px;
    }

}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px) {

    .header-button a {
        padding: 12px 20px;
        font-size: 13px;
    }

    .header-icon-img {
        margin: 0 10px 0 10px;
    }

    .header-call h3 {
        font-size: 14px;
    }

    .header-button {
        padding-left: 20px;
    }

    .hendrio_menu>ul>li>a {
        margin: 40px 4px;
        font-size: 13px;
    }

    .slider-title h1 {
        font-size: 51px;
        line-height: 65px;
    }

    .single-feature-box-inner {
        padding: 35px 15px 40px;
    }

    .feature-content span {
        font-size: 13px;
    }

    .feature-content h3 {
        font-size: 22px;
        line-height: 25px;
    }

    .about-thumb img {
        width: 100%;
    }

    .about-content {
        left: -70px;
    }

    .video-icon {
        left: -25px;
    }

    .section-title h1 {
        font-size: 32px;
        line-height: 45px;
    }

    .abouts_titles h4 {
        font-size: 14px;
    }

    .abouts_titles p {
        font-size: 12px;
        line-height: 20px;
    }

    .about_text p {
        font-size: 13px;
    }

    .single-service:hover .service-shape.upper {
        right: 0;
    }

    .service-area .single-service:hover .service-title h2::before {
        width: 100%;
    }

    .call-do-action .call-do-act-title h3 {
        font-size: 28px;
    }

    .portfolio-content h3 a {
        font-size: 16px;
    }

    .testimonial-area .owl-next {
        top: -36%;
    }

    .testimonial-area .testi-icon i {
        display: none;
    }

    .contact-icon {
        top: 483px;
    }

    .blog-area h2.blog-title a {
        font-size: 16px;
        line-height: 25px;
    }

    .footer-title h4 {
        font-size: 10px;
        line-height: 20px;
    }

    .single-service.style-two .service-thumb {
        left: 43px;
    }

    .service-area .single-service .service-thumb {
        left: 40px;
    }

    .service-area .single-service .service-icon-list ul li {
        font-size: 14px;
    }

    .single-portfolio:hover .portfolio-content {
        bottom: 0 !important;
    }

    .portfolio-content {
        padding: 5px 30px 18px 18px;
    }

    .testimonial-area .testimonial-content p {
        font-size: 13px;
        line-height: 25px;
    }

    .header-button a::after {
        left: 12px;
    }

    .skill-area.style-two .video-icon {
        top: -196px;
    }

    ul.sidebar-menu li a {
        font-size: 13px;
    }

    ul.sidebar-menu li {
        padding: 13px 5px 13px;
    }

    img.sidbr-icn {
        padding-right: 5px;
    }

    .widget-sidebar-box {
        padding: 30px 20px 30px;
    }

    ul.sidebar-menu2 li {
        font-size: 11px;
    }

    .sevice-dtls-content h4 {
        font-size: 16px;
    }

    .service-dtls-cont h3 {
        font-size: 27px;
    }

    h3.prct-title {
        font-size: 18px;
    }

    .widget-check-box {
        padding: 40px 25px 18px;
    }

    .categories-title h4 {
        font-size: 18px;
    }

    .product-icon-list ul li {
        letter-spacing: 0;
        font-size: 12px;
    }

    .products-title h6 {
        font-size: 11px;
    }

    .product-thumb {
        padding-right: 6px;
    }

    .single-products-box:hover .product-thumb-icon a:nth-child(1) {
        left: 40px;
    }

    .single-products-box:hover .product-thumb-icon a:nth-child(2) {
        right: 40px;
    }

    .product-title h2 {
        font-size: 16px;
    }

    .widget-check {
        padding-left: 30px;
    }

    .widget-check {
        font-size: 14px;
    }

    h2.blog-title a {
        font-size: 23px;
    }

    .contact-area .information-title h3 {
        font-size: 20px;
    }

    .contact-information {
        padding: 37px 30px 50px 30px;
    }

    .header-top-area {
        padding: 0 25px 0;
    }

    .hendrio_nav_manu {
        padding: 0 20px 0;
    }

    .skills-rights-sites {
        top: 252px;
        right: -28px;
    }

    .skill-right-site {
        position: absolute;
        top: -85px;
        right: -28px;
    }

    .skill-right-site {
        padding: 65px 50px 65px;
    }

    .skills-rights-sites {
        padding: 55px 50px 55px;
    }

    .skills-rights-sites {
        top: 242px;
        right: -28px;
    }

    .call-do-thumb img {
        width: 100%;
    }

    .call-do-action .call-do-act-title h3 {
        padding-left: 0;
    }

    .call-do-action .call-do-act-description p {
        margin: 15px 0 0 0px;
    }





}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

    .call-do-thumb img {
        width: 100%;
    }

    .slider-title h1 {
        font-size: 36px;
        line-height: 50px;
    }

    .breadcumb-content {
        margin-top: 45px;
    }

    .slider-title h4::before {
        left: -56%;
    }

    .feature-content span {
        font-size: 14px;
    }

    .service-area .single-service .service-thumb {
        left: 102px;
    }

    .service-area .single-service {
        margin: 0 0px 80px 0;
    }

    .service-area .services-bottom {
        margin-top: 0;
    }

    .skills-rights-sites {
        display: none;
    }

    .skill-right-site {
        display: none;
    }

    .call-do-action .call-do-act-title h3 {
        font-size: 23px;
        line-height: 30px;
    }

    .call-do-action .call-do-act-button {
        display: none;
    }

    .testimonial-area .owl-next {
        top: -36%;
    }

    .testimonial-area .owl-prev {
        top: -102px;
    }

    .contact-area .contact-content {
        display: none;
    }

    .contact-area .contact-icon {
        display: none;
    }

    .contact-area .form-button {
        text-align: center;
    }

    .blog-area .single-blog-box {
        margin-bottom: 35px;
    }

    .blog-area h2.blog-title a {
        font-size: 18px;
    }

    ul.footer-menu {
        margin-bottom: 40px;
    }

    .about-thumb {
        margin-bottom: 50px;
        text-align: center;
    }

    .team-description {
        margin-bottom: 50px;
    }

    .skill-area.style-two .video-icon {
        position: absolute;
        top: -90px;
        right: inherit;
        left: 233px !important;
        text-align: right;
        margin: 0 auto 0;
    }

    .sevice-dtls-content h4 {
        font-size: 16px;
    }

    .service-dtls-cont h5 {
        margin-top: 50px;
    }

    .portfolio-content h3 a {
        font-size: 17px;
    }

    .project-thumb {
        margin-bottom: 30px;
    }

    h2.blog-title a {
        font-size: 25px;
    }

    .contact-area .form-button button {
        width: 70%;
    }

    .about-content {
        width: 45%;
        top: 13%;
        left: 0;
    }

    .about-area .video-icon {
        top: 25%;
        left: -155px;
        right: -84px;
    }

    .contact-area {
        background-position: right;
    }

    .contact-area {
        padding: 85px 0 90px;
    }

    .skill-area {
        background-position: left;
    }

    .sticky {
        position: relative !important;
    }






}


/* Tablet desktop :600px. */
@media (min-width: 600px) and (max-width: 767px) {

    .hendrio-slider-area {
        height: 680px;
    }

    .slider-title h1 {
        font-size: 36px;
        line-height: 50px;
    }

    .slider-thumb {
        display: none;
    }

    .slider_shape {
        top: -270px;
        left: 80%;
    }

    .section-title h1 {
        font-size: 35px;
    }

    .about_icon-img {
        margin-bottom: 40px;
    }

    .service-area .single-service .service-thumb {
        left: 185px;
    }

    .service-area .single-service {
        margin: 0 0px 80px 0;
    }

    .skill-right-site {
        display: none;
    }

    .skills-rights-sites {
        display: none;
    }

    .call-do-action .call-do-act-button {
        display: none;
    }

    .call-do-thumb {
        margin-bottom: 35px;
    }

    .single-call-do {
        margin-bottom: 30px;
    }

    .contact-icon {
        display: none;
    }

    .call-us {
        display: none;
    }

    .form-button {
        text-align: center;
    }

    .blog-area .single-blog-box {
        margin-bottom: 30px;
    }

    h4.widget-title {
        padding: 30px 0 13px;
    }

    .sinlge-footer {
        margin: 25px 0 50px;
    }

    .footer-area .form-button {
        text-align: left;
    }

    .footer-bottom-content-copy {
        text-align: center;
    }

    .footer-bottom-menu ul {
        text-align: center;
    }

    .testimonial-area .owl-prev {
        top: -60px;
    }

    .testimonial-area .owl-next {
        top: -21%;
    }

    .about-thumb {
        margin-bottom: 50px;
    }

    .team-description {
        margin-bottom: 50px;
    }

    .skill-area.style-two .video-icon {
        position: absolute;
        top: -90px;
        right: inherit;
        left: 233px !important;
        text-align: right;
        margin: 0 auto 0;
    }

    .call-do-action .call-do-act-title h3 {
        line-height: 40px;
    }

    .service-dtls-box {
        margin-top: 30px;
    }

    .service-dtls-cont h5 {
        margin-top: 50px;
    }

    .service-dtls-all-items {
        padding-left: 0;
    }

    .breadcumb-content {
        margin-top: 40px;
    }

    .project-thumb {
        margin-bottom: 30px;
    }

    p.quote-desc {
        font-size: 14px;
    }

    h3.prjct-dtls-title {
        font-size: 24px;
    }

    .project-thumb {
        margin-bottom: 30px;
    }

    h2.blog-title a {
        font-size: 19px;
    }

    .blog-quote p {
        font-size: 13px;
    }

    .blog-post-comment span.rights-reply {
        top: 0px;
    }

    .single-blog-dtls-box .form-button button {
        width: 35%;
    }

    .sidebar-widget input {
        margin-top: 50px;
    }

    .sidebar-widget button.subscribe-btn {
        top: 50px;
    }

    .contact-area .form-button button {
        margin-bottom: 50px;
    }

    .skill-area {
        background-position: left;
    }

    .sticky {
        position: relative !important;
    }

    .about-content {
        left: -26px;
    }

    .video-icon {
        left: 82px;
    }

    .call-do-action .call-do-act-title h3 {
        padding-left: 0;
    }

    .call-do-action .call-do-act-description p {
        margin: 15px 0 0 0;
    }

    .call-do-action {
        padding-top: 35px;
    }

    .contact-area {
        padding: 85px 0 60px;
    }

}



/* Tablet desktop :320px. */
@media (min-width: 320px) and (max-width: 599px) {

    .contact-icon {
        display: none;
    }

    .call-us {
        display: none;
    }

    .slider-thumb {
        display: none;
    }

    .slider-title h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .slider-title h4 {
        font-size: 14px;
    }

    .slider-title h4::before {
        left: -57%;
    }

    .hendrio-slider-area {
        height: 580px;
    }

    .slider_shape {
        top: 31px;
    }

    .feature-content span {
        font-size: 11px;
    }

    .about-thumb img {
        width: 100%;
    }

    .about-content {
        display: none;
    }

    .section-title h1 {
        font-size: 20px;
        line-height: 30px;
    }

    .about-title h4 {
        font-size: 13px;
    }

    .about-description p {
        font-size: 13px;
        line-height: 25px;
    }

    .about_icon-img {
        margin-bottom: 40px;
    }

    .about_text p {
        font-size: 10px;
        line-height: 18px;
        padding-top: 5px;
        overflow: hidden;
    }

    .service-area .single-service .service-thumb {
        left: 80px;
    }

    .service-area .single-service {
        margin: 0 0px 100px 0;
    }

    .service-area .services-bottom a {
        padding: 10px 32px 10px 14px;
    }

    .service-area .services-bottom a {
        font-size: 13px;
    }

    .service-area .services-bottom {
        margin-top: 0;
    }

    .skill-right-site {
        display: none;
    }

    .skills-rights-sites {
        display: none;
    }

    .call-do-action .call-do-act-button {
        display: none;
    }

    .call-do-action .call-do-act-title h3 {
        font-size: 27px;
        margin: 30px 0 0;
    }

    .call-do-action .call-do-act-description p {
        font-size: 13px;
        margin: 15px 0 30px;
    }

    .portfolio-content h3 a {
        font-size: 13px;
    }

    .testimonial-area .testi-icon i {
        display: none;
    }

    .testimonial-area .testimonial-content p {
        font-size: 14px;
    }

    .testimonial-area .owl-prev {
        top: -38px;
    }

    .testimonial-area .owl-next {
        top: -11%;
    }

    .testimonial-area .testimonial-title h3 {
        font-size: 18px;
    }

    .contact-area .form-button {
        text-align: center;
    }

    .contact-area .form-button button {
        width: 70%;
    }

    .blog-area h2.blog-title a {
        font-size: 16px;
        line-height: 25px;
    }

    h4.widget-title {
        margin-top: 25px;
    }

    .footer-bottom-content-copy p {
        text-align: center;
    }

    .footer-bottom-menu ul {
        text-align: center;
    }

    .footer-bottom-menu ul li a {
        font-size: 14px;
    }

    .footer-bottom-menu ul li {
        padding-left: 25px;
    }

    .blog-area .single-blog-box {
        margin-bottom: 30px;
    }

    .breadcumb-content {
        margin-top: 30px;
    }

    .about-thumb {
        margin-bottom: 50px;
    }

    .team-description {
        margin-bottom: 50px;
    }

    .skill-area.style-two .video-icon {
        top: -90px;
        right: 65px;
        text-align: right;
    }

    .breadcumb-content h1 {
        font-size: 40px;
    }

    .breadcumb-content ul li a {
        font-size: 13px;
    }

    .breadcumb-content ul li {
        font-size: 13px;
    }

    .breadcumb-content ul li span {
        font-size: 13px;
    }

    .service-dtls-box {
        margin-top: 30px;
    }

    .service-dtls-cont h5 {
        margin-top: 50px;
    }

    .service-dtls-all-items {
        padding-left: 0;
    }

    h2.service-title {
        font-size: 20px;
        line-height: 40px;
    }

    .sevice-dtls-content h4 {
        font-size: 16px;
    }

    .service-dtls-cont h3 {
        font-size: 25px;
    }

    h2.accordion-title {
        font-size: 20px;
    }

    .accordion li a {
        font-size: 16px;
    }

    .accordion li p {
        font-size: 12px;
        line-height: 23px;
    }

    h3.prjct-dtls-title {
        font-size: 24px;
    }

    .project-thumb {
        margin-bottom: 30px;
    }

    p.quote-desc {
        padding: 5px 0 7px 0;
    }

    p.quote-desc::before {
        background: inherit;
    }

    span.pagination2 {
        display: none;
    }

    h3.prct-title {
        font-size: 18px;
    }

    .faq_area .faq_thumb img {
        margin-left: 0;
    }

    .row.products {
        padding-left: 0;
    }

    .category-button a {
        display: none;
    }

    ul.blog-author li {
        margin-right: 6px;
    }

    ul.blog-author li span::before {
        background-color: inherit;
    }

    h2.blog-title a {
        font-size: 18px;
    }

    .blog-content {
        padding: 15px 20px 20px;
    }

    .blog-quote {
        padding: 25px 10px 15px;
    }

    img.qte-icon {
        margin-right: 5px;
    }

    .blog-quote p {
        overflow: hidden;
        font-size: 14px;
    }

    .blogs-social-share {
        padding: 20px 0 25px 5px;
    }

    .blog-post-comment {
        padding: 34px 0px 26px;
    }

    .blog-post-comment span.rights-reply {
        display: none;
    }

    .blog-post-comment .post-comment2 {
        margin-left: 0;
    }

    .sidebar-widget {
        margin-top: 50px;
    }

    .single-blog-dtls-box .form-button button {
        width: 55%;
    }

    .contact-title h3 {
        font-size: 28px;
        line-height: 50px;
    }

    .contact-information {
        padding: 37px 5px 50px 5px;
        margin-top: 50px;
    }

    .call-do-action .call-do-act-title h3 {
        padding-left: 0;
    }

    .skill-area {
        background-position: left;
    }

    .testimonial-area .owl-nav {
        display: none;
    }

    .contact-area {
        background-position: right;
    }




}





/* small mobile :320px. */
@media only screen and (min-width: 320px) and (max-width: 991px) {

    .header-top-area {
        display: none;
    }

    .hendrio_nav_manu {
        display: none;
    }




}








