/* === Глобальные стили === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: auto;
  width: 100%;
  font-family: "Inter", sans-serif;
  color: #000;

  overflow-x: hidden; /* запрещаем горизонтальный скролл */

  /* фон с более тёмным градиентом */
  background-image: linear-gradient(
      to top,
      #b0afaf 0%,
      /* более тёмный белый внизу */ rgba(160, 159, 159, 0.85) 5%,
      rgba(140, 139, 139, 0.6) 15%,
      rgba(100, 100, 100, 0.45) 25%,
      rgba(15, 15, 15, 0.2) 60%,
      #0f0f0f 100% /* черный сверху */
    ),
    url("/font.jpg");

  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

/* Контейнер ограничивает ширину и центрирует контент */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Универсальная кнопка */
.btn {
  display: inline-block;
  background-color: #facc15;
  color: #000;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #eab308;
  transform: translateY(-2px);
}
